HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# dependencies
/blog-front/node_modules
/blog-front/.pnp
/blog-front/pnp.js

# testing
/blog-front/coverage

# production
/blog-front/build

# misc
/blog-front/.DS_Store
/blog-front/.env.local
/blog-front/.env.development.local
/blog-front/.env.test.local
/blog-front/.env.production.local

/blog-front/npm-debug.log*
/blog-front/yarn-debug.log*
/blog-front/yarn-error.log*
